# Tazin Morshed 01859407926
## tazinmorshedshad@gmail.com

In [1]:
from selenium.webdriver.common.keys import Keys
from getpass import getpass

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

# How to tweets to extract?

In [59]:
NUMBER_TO_EXTRACT = 21

# Utility function

In [60]:
import datetime
from time import sleep
from zoneinfo import ZoneInfo


def format_time(time):
    f_time = datetime.datetime.strptime(time, '%Y-%m-%dT%H:%M:%S.%f%z').astimezone(ZoneInfo('America/New_York')).strftime('%I:%M %p %d %B, %Y')
    return f_time



    
def remove_duplicates(x):
    return list(dict.fromkeys(x))

In [61]:
# Get all the retweets 
# we need to check if retweet = 0, if yes then ignore this loop 
def return_retweets_info(tweet_url, number_of_retweets, user_tweet):
    retwitter_name_list=[]
    retwitter_url_list= []
    retwitter_tweet_list= []
    if number_of_retweets == 0:
        retwitter_name_list.append("")
        retwitter_url_list.append("")
        retwitter_tweet_list.append("")
    else: 
        driver.get(tweet_url)
        sleep(3)


        go_to_retweets = driver.find_element("xpath", "//*[@id='react-root']/div/div/div[2]/main/div/div/div/div[1]/div/section/div/div/div[1]/div/div/div[1]/article/div/div/div/div[3]/div[6]/div/div[1]/div/a").get_attribute('href')
        driver.get(go_to_retweets)

        sleep(5)

        # Need a time delay 
        scrollable_popup = driver.find_element(By.XPATH, '//*[@id="layers"]/div[2]/div/div/div/div/div/div[2]/div[2]/div/div/div')
        driver.execute_script("arguments[0].scrollTop = arguments[0].scrollHeight/3", scrollable_popup)
        sleep(2)

        retweets = driver.find_elements("xpath","//div[@data-testid='UserCell']")

        #omit the last iteration becuase it shows "post owner" retwitted which is not true 
        for retweet in retweets: #needs tweaking 
            retwitter_name = retweet.find_element("xpath","./div/div[2]/div/div/div/div/a/div").text
            retwitter_url = retweet.find_element("xpath","./div/div[2]/div/div/div/div/a").get_attribute('href')
            retwitter_name_list.append(retwitter_name)
            retwitter_url_list.append(retwitter_url)
            retwitter_tweet_list.append(user_tweet)
        
    return retwitter_name_list, retwitter_url_list, retwitter_tweet_list

In [88]:
#collect all the comments in the post 
def collect_comments(tweet_url):  
    driver.get(tweet_url)
    sleep(3)



    no_more_replies = False
    while True:
        driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
        sleep(2)

        try:
            show_more_replies = driver.find_element("xpath","//*[@id='react-root']/div/div/div[2]/main/div/div/div/div[1]/div/section/div/div/div[30]/div/div/div")
            show_more_replies.click()
            sleep(2)
        except:
            no_more_replies = True

        if no_more_replies == True:
            break

    c_profile_url_list = []
    c_name_list = []
    c_tweet_list = []
    c_tweet_time_list = []


    sleep(2)
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight-2000);')
    sleep(2)

    comments = driver.find_elements("xpath",".//article[@data-testid='tweet']")
    # while True:
    print("number of comments: ", len(comments))
    sleep(2)
    for comment in comments[1:]:

        c_profile_url = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[1]/div/a").get_attribute('href')
        c_profile_url_list.append(c_profile_url)


        #C_name
        c_name = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[1]").text
        c_name_list.append(c_name)

        #C_tweet
        ## exception when no tweet but response is a picture. #retards #If no tweet, just ' '
        try: 
            c_tweet = comment.find_element(By.XPATH, ".//div[@data-testid='tweetText']").text
            c_tweet_list.append(c_tweet)
        except:
            c_tweet_list.append(" ") 

        c_tweet_time = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[2]/div/div[3]/a/time").get_attribute('datetime')
        c_tweet_time_list.append(format_time(c_tweet_time))
    
    return c_profile_url_list, c_name_list, c_tweet_list, c_tweet_time_list

In [103]:
from selenium import webdriver
from selenium.webdriver.common.by import By

import time

#open Microsoft Edge 
driver = webdriver.Edge()

In [104]:
driver.get('https://twitter.com/login')
sleep(2)

In [105]:

username = driver.find_element("xpath", '//input[@name="text"]')
#Enter your twitter user email
username.send_keys("tazinmorshed@gmail.com")

In [106]:
username.send_keys(Keys.RETURN)

In [107]:
#type your twitter password
my_password = getpass()

········

In [108]:
password = driver.find_element("xpath", '//input[@name="password"]')
password.send_keys(my_password)

In [109]:
password.send_keys(Keys.RETURN)
sleep(2)

In [110]:
driver.get('https://twitter.com/bbcbangla')

In [193]:


tweet_link = []
number_comments = []
number_retweets = []
number_likes = []

        
articles = driver.find_elements(By.XPATH,"//article[@data-testid='tweet']")
while True:
    print(len(articles))
   
    for article in articles: 
        no_comments = article.find_element(By.XPATH,".//div[@data-testid='reply']").text
        no_retweets = article.find_element(By.XPATH,".//div[@data-testid='retweet']").text
        no_likes = article.find_element(By.XPATH,".//div[@data-testid='like']").text
        tweets_link =  article.find_element("xpath", ".//div[@data-testid='User-Names']/div[2]/div/div[3]/a").get_attribute("href")
        tweet_link.append(tweets_link)
          
            
        if no_comments == "":
            number_comments.append(0)
        else:
            number_comments.append(no_comments)
        
        if no_retweets == "":
              number_retweets.append(0)
        else:
            number_retweets.append(no_retweets)
        
        if no_likes == "":
            number_likes.append(0)
        else:
            number_likes.append(no_likes)
      
        print(tweets_link)
        print(no_comments, no_retweets, no_likes)
        print()
        
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    sleep(10)
    articles = driver.find_elements(By.XPATH,"//article[@data-testid='tweet']")

    
    tweet_link = remove_duplicates(tweet_link)
    
    if len(tweet_link) > NUMBER_TO_EXTRACT:
        break

4
https://twitter.com/bbcbangla/status/1595026347616661504
24 93 424

https://twitter.com/bbcbangla/status/1595010733447970816
  14

https://twitter.com/bbcbangla/status/1594993215979286528
4 1 40

https://twitter.com/bbcbangla/status/1594986657937227776
2 2 54

12
https://twitter.com/bbcbangla/status/1592046061081989121
  113

https://twitter.com/bbcbangla/status/1591993037940752384
1 1 79

https://twitter.com/bbcbangla/status/1591989646858375168
12 14 352

https://twitter.com/bbcbangla/status/1591981584286371840
13 25 477

https://twitter.com/bbcbangla/status/1591758905578856448
11 14 516

https://twitter.com/bbcbangla/status/1591722600870203392
 7 184

https://twitter.com/bbcbangla/status/1591678902820573184
 1 82

https://twitter.com/bbcbangla/status/1591673977885560832
6 18 495

https://twitter.com/bbcbangla/status/1591382176322686976
2 3 93

https://twitter.com/bbcbangla/status/1590717134316806144
22 42 695

https://twitter.com/bbcbangla/status/1590663763333591040
37 32 736

https://twitter.com/bbcbangla/status/1590662023826014208
87 51 1,425

10
https://twitter.com/bbcbangla/status/1588406974722543616
14 30 441

https://twitter.com/bbcbangla/status/1588224954461741056
6 14 395

https://twitter.com/bbcbangla/status/1588176678664257536
135 87 1,224

https://twitter.com/bbcbangla/status/1588168369442000898
1 2 79

https://twitter.com/bbcbangla/status/1588147981949501445
3 7 192

https://twitter.com/bbcbangla/status/1588119874181763072
14 10 227

https://twitter.com/bbcbangla/status/1588125422725775362
3 2 74

https://twitter.com/bbcbangla/status/1588070149676048386
 4 120

https://twitter.com/bbcbangla/status/1588043719609319424
 2 86

https://twitter.com/bbcbangla/status/1587710176060022784
10 5 315

In [196]:
#collect all the comments in the post 

def collect_comments(tweet_url):  
    driver.get(tweet_url)
    sleep(3)


    c_profile_url_list = []
    c_name_list = []
    c_tweet_list = []
    c_tweet_time_list = []



    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    sleep(2)

    comments = driver.find_elements("xpath",".//article[@data-testid='tweet']")
    # while True:
    print("number of comments: ", len(comments))
    sleep(2)
    for comment in comments[1:]:

        c_profile_url = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[1]/div/a").get_attribute('href')
        c_profile_url_list.append(c_profile_url)


        #C_name
        c_name = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[1]").text
        c_name_list.append(c_name)

        #C_tweet
        ## exception when no tweet but response is a picture. #retards #If no tweet, just ' '
        try: 
            c_tweet = comment.find_element(By.XPATH, ".//div[@data-testid='tweetText']").text
            c_tweet_list.append(c_tweet)
        except:
            c_tweet_list.append(" ") 
        
        c_tweet_time = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[2]/div/div[3]/a/time").get_attribute('datetime')
        c_tweet_time_list.append(format_time(c_tweet_time))
    
    return c_profile_url_list, c_name_list, c_tweet_list, c_tweet_time_list

In [197]:
#Main cell to get all the data 
user_tweet_list = []
user_tweet_time_list = []
user_tweet_URL_list= []
user_tweet_visuals_list = []

c_profile_url_list = []
c_name_list = []
c_tweet_list = []
c_tweet_time_list = []


retwitter_name_list = []
retwitter_url_list =[]
retwitter_text_list =[]

no_likes_list=[]


iterations = 0 
for item, no_rtweets in zip(tweet_link,number_retweets):
    
    driver.get(item)
    sleep(3)
    # we dont scape data from threads only tweets for this case 
    thred = driver.find_element('xpath','//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/h2/span').text
    if thred =='Tweet':
        user_tweet = driver.find_element("xpath","//div[@data-testid='tweetText']").text
        user_tweet_list.append(user_tweet)

        user_tweet_time = driver.find_element("xpath", "//*[@id='react-root']/div/div/div[2]/main/div/div/div/div[1]/div/section/div/div/div[1]/div/div/div[1]/article/div/div/div/div[3]/div[5]/div/div[1]/div/a[1]").text
        user_tweet_time_list.append(user_tweet_time)

        user_tweet_URL = driver.find_element("xpath", "//*[@id='react-root']/div/div/div[2]/main/div/div/div/div[1]/div/section/div/div/div[1]/div/div/div[1]/article/div/div/div/div[3]/div[5]/div/div[1]/div/a[1]").get_attribute('href')
        user_tweet_URL_list.append(user_tweet_URL)

        try: #when there is a video 
            user_tweet_visuals = driver.find_element("xpath","//div[@data-testid='card.layoutLarge.media']/a").get_attribute('href')
            user_tweet_visuals_list.append(user_tweet_visuals)
        except: 
            user_tweet_visuals = " "
            user_tweet_visuals_list.append(user_tweet_visuals)

        
        no_likes_list.append(number_likes[iterations])
        iterations= iterations + 1 
      
        #fetch all comments 
        sleep(2)
        c_profile_url,c_name,c_tweet,c_tweet_time = collect_comments(item)
        c_profile_url_list.append(c_profile_url)
        c_name_list.append(c_name)
        c_tweet_list.append(c_tweet)
        c_tweet_time_list.append(c_tweet_time)

        #fetch all retweets
        sleep(3)
        retwitter_name,retwitter_url,retwitter_text = return_retweets_info(item, no_rtweets, user_tweet)

        retwitter_name_list.append(retwitter_name)
        retwitter_url_list.append(retwitter_url)
        retwitter_text_list.append(retwitter_text)

424
number of comments:  19
14
number of comments:  1
40
number of comments:  3
54
number of comments:  3
113
number of comments:  1
79
number of comments:  2
352
number of comments:  9
477
number of comments:  12
516
number of comments:  10
184
number of comments:  1
82
number of comments:  1
495
number of comments:  8
93
number of comments:  2
695
number of comments:  20
736
number of comments:  20
1,425
number of comments:  26
441
number of comments:  12
395
number of comments:  5
1,224
number of comments:  29
79
number of comments:  2
192
number of comments:  2
227
number of comments:  1
74
number of comments:  1

In [198]:
#remove the outliers 
tweet_link = user_tweet_URL_list
number_likes = no_likes_list

print(len(number_likes))

23

In [199]:
#remove the outliers 
def clean_list(list1, list2, list3):
    list_1 = []
    list_2 = []
    list_3 = []
    
    for i,y,z in zip(list1,list2,list3):
        if i.strip():
            list_1.append(i)
            list_2.append(y)
            list_3.append(z)

    return list_1, list_2, list_3


clean_list_1 = []
clean_list_2 = []
clean_list_3 = []
    
for i in range(len(retwitter_name_list)):

    temp_1, temp_2, temp_3 = clean_list(retwitter_name_list[i],retwitter_url_list[i],retwitter_text_list[i])
    clean_list_1.append(temp_1)
    clean_list_2.append(temp_2)
    clean_list_3.append(temp_3)


retwitter_name_list = clean_list_1
retwitter_url_list = clean_list_2
retwitter_text_list = clean_list_3

In [200]:
number_comments = []
number_retweets = []

for i in range(len(retwitter_name_list)):
  
    number_comments.append(len(c_name_list[i])) 
    number_retweets.append(len(retwitter_name_list[i]))

In [202]:
#create json 

list_1 = []
for i in range(len(tweet_link)): 
    dict_1={}
    dict_1['tweet_link'] = tweet_link[i]
    dict_1['tweet_logistic'] ={}
    dict_1['tweet_logistic']['number_of_comments'] = number_comments[i]
    dict_1['tweet_logistic']['number_retweets'] = number_retweets[i]
    dict_1['tweet_logistic']['number_likes'] = number_likes[i]
    
    dict_1['tweet_info'] = {}
    dict_1['tweet_info']['tweets'] = user_tweet_list[i]
    dict_1['tweet_info']['tweet_time'] = user_tweet_time_list[i]
    dict_1['tweet_info']['tweet_url'] = user_tweet_URL_list[i]
    dict_1['tweet_info']['tweet_visual'] = user_tweet_visuals_list[i]
    
    dict_1['comments_info'] = {}
    dict_1['comments_info']['commenters_name'] = c_name_list[i]
    dict_1['comments_info']['commenters_profile'] = c_profile_url_list[i]
    dict_1['comments_info']['commenters_tweet'] =  c_tweet_list[i]
    dict_1['comments_info']['commenters_tweet_time'] = c_tweet_time_list[i]
    
    dict_1['retweet_info']= {}
    dict_1['retweet_info']['retweeter_name'] = retwitter_name_list[i]
    dict_1['retweet_info']['retweet_text']=  retwitter_text_list[i]
    dict_1['retweet_info']['retweeter_profile']=retwitter_url_list[i]
   
    
    list_1.append(dict_1)

In [203]:
list_1[2]

{'tweet_link': 'https://twitter.com/bbcbangla/status/1594993215979286528',
 'tweet_logistic': {'number_of_comments': 2,
  'number_retweets': 0,
  'number_likes': '40'},
 'tweet_info': {'tweets': 'মেসি জানেন, আর্জেন্টিনার হয়ে কাতারে এই বিশ্বকাপ জয় তার ক্যারিয়ারের সেরা জয় হিসেবে স্বীকৃতি পাবে। হয়তো তখন তার ‘সর্বকালের সেরা ফুটবলার’ খেতাব পোক্ত হবে।\n#FIFAWorldCup #QatarWorldCup2022 #Argentina',
  'tweet_time': '3:56 PM · Nov 22, 2022',
  'tweet_url': 'https://twitter.com/bbcbangla/status/1594993215979286528',
  'tweet_visual': 'https://t.co/ujpcoFxlDk'},
 'comments_info': {'commenters_name': ['Anowar hussain', 'Md Shaha Kamal'],
  'commenters_profile': ['https://twitter.com/Anowarh27529971',
   'https://twitter.com/md_shaha_kamal'],
  'commenters_tweet': ['কিন্তু সামনে জার্মানি পড়লে সোজা বিমানের টিকিট হাতে ধরিয়ে দিবে',
   'খেলার ধরন খারাপ হয়ে গেছে'],
  'commenters_tweet_time': ['05:00 AM 22 November, 2022',
   '06:27 AM 22 November, 2022']},
 'retweet_info': {'retweeter_name': [],
  'retweet_text': [],
  'retweeter_profile': []}}

In [138]:
# dump all data into a json file with indent = 4 
import json
with open('python_scapper.json', 'w', encoding='utf8') as f:
    json.dump(list_1, f ,indent=4, ensure_ascii=False)

In [204]:
#create separate Dataframes for database entry 

import pandas as pd 
import numpy as np
df = pd.DataFrame(zip(tweet_link,number_comments, number_retweets, number_likes,
                     user_tweet_list, user_tweet_time_list, user_tweet_URL_list,user_tweet_visuals_list,
                     c_name_list, c_profile_url_list, c_tweet_list,c_tweet_time_list,
                     retwitter_name_list, retwitter_url_list),
                 columns =["tweet_link","no_comments", "no_retweets", "no_likes",
                          "user_tweets", "user_tweet_time", " user_tweet_url",
                          "user_tweet_visuals", "c_name", "c_profile", "c_tweet",
                          "c_tweet_time", "retweeter_name", "retwitter_url"])


df_tweet = pd.DataFrame(zip(tweet_link, number_comments, number_retweets, number_likes),
                       columns=['tweet_link', 'no_comments', 'no_retweets','no_likes'])

df_user = pd.DataFrame(zip(user_tweet_list,user_tweet_time_list, user_tweet_URL_list, user_tweet_visuals_list),
                      columns=['user_tweet','user_tweet_time', "user_tweet_url", 'user_tweet_visuals'])
                      

df_user['Id'] = range(0, len(df_user) )
df_tweet['Id'] = range(0, len(df_tweet) )

df_user = df_user.astype(str)
df_tweet = df_tweet.astype(str)

In [205]:
# df_user df_tweet df_comment df_retweet

In [206]:
dtypes = np.dtype(
    [
        ("commenters_name", str),
        ("commenters_profile", int),
        ("commenters_tweet", str),
        ("commenters_tweet_time", str),
        ('ID',str)
    ]
)

df_comment = pd.DataFrame(np.empty(0, dtype=dtypes))

for index, item in enumerate(list_1):
    for i in item:
        if(i=='comments_info'):
            comment_dict = item[i]
            df_1 = pd.DataFrame(comment_dict)
            df_1['ID'] = index
            df_comment = pd.concat([df_comment, df_1])
            
            
print(df_comment)

         commenters_name                   commenters_profile  \
0            Anu Mostafa       https://twitter.com/anumostafa
1   GOLAM MOSTOFA SARKER  https://twitter.com/GOLAMMOSTOFASA1
2             abir islam           https://twitter.com/4B1R74
3         Mizanur Rahman  https://twitter.com/Mizanur60484925
4           yeasin hasan     https://twitter.com/hasan_yeasin
..                   ...                                  ...
25       SH Sharif Hasan  https://twitter.com/Khairul35032407
26        Habibur Rahman       https://twitter.com/habiburRBD
27           Nazmul Huda  https://twitter.com/NazmulH51661064
0           Raysha Islam         https://twitter.com/Raysha32
0           Najmul Islam  https://twitter.com/Imnajmulislam11

                                     commenters_tweet  \
0   গোবরে পোকাতেও প্রদীপ নিভিয়ে দিতে পারে। আর্জেন...
1                     মাশা'আল্লাহ \n\nইহুদিদের পরাজয়
2   আর্জেন্টিনায় ১০ লাখের বেশী মুসলমান বসবাস করে,...
3   A good news. Great win.\nCongratulations to th...
4      আলহামদুলিল্লাহ। খেলাটা দেখে মনটা একদম বরে গেছে
..                                                ...
25  ওনার এই কথায় প্রমাণ করে বাংলাদেশের বিচার বিবা...
26                               দেশে আইনের শাসন নেই,
27  Please Send Khaleda Zia to jail,,,,One county ...
0   এটা কে বা কার নির্দেশে হয়েচে,\nবিবিসি সঠিক ভা...
0               শেহবাজ শরীফের দলের লোকজন এ কাজ করেছে।

         commenters_tweet_time  ID
0   07:53 AM 22 November, 2022   0
1   07:10 AM 22 November, 2022   0
2   07:37 AM 22 November, 2022   0
3   07:14 AM 22 November, 2022   0
4   07:31 AM 22 November, 2022   0
..                         ...  ..
25  02:43 AM 04 November, 2022  18
26  12:51 PM 03 November, 2022  18
27  11:19 AM 03 November, 2022  18
0   10:27 AM 05 November, 2022  19
0   07:23 AM 04 November, 2022  20

[167 rows x 5 columns]

In [207]:
dtypes = np.dtype(
    [
        ("retweeter_name", str),
        ("retweet_text", int),
        ("retweeter_profile", str),
        ('ID',str)
    ]
)

df_retweet = pd.DataFrame(np.empty(0, dtype=dtypes))

for index, item in enumerate(list_1):
    for i in item:
        if(i=='retweet_info'):
            retweet_dict = item[i]
            df_1 = pd.DataFrame(retweet_dict)
            df_1['ID'] = index
            df_retweet = pd.concat([df_retweet, df_1])

print(df_retweet)

    retweeter_name                                       retweet_text  \
0        Jeanmarie  নিজেদের প্রথম ম্যাচে সৌদি আরবের কাছে হেরে গেল ...
1            Doris  নিজেদের প্রথম ম্যাচে সৌদি আরবের কাছে হেরে গেল ...
2            Molly  নিজেদের প্রথম ম্যাচে সৌদি আরবের কাছে হেরে গেল ...
3             Neda  নিজেদের প্রথম ম্যাচে সৌদি আরবের কাছে হেরে গেল ...
4            Shari  নিজেদের প্রথম ম্যাচে সৌদি আরবের কাছে হেরে গেল ...
..             ...                                                ...
5   Zahir shamsery  পাকিস্তানের সাবেক প্রধানমন্ত্রী ইমরান খানের ওপ...
0   Zahir shamsery  ভারতীয় হাইকমিশনারকে ১৯৭৫ সালে কেন অপহরণ করতে ...
1        Mr Gumede  ভারতীয় হাইকমিশনারকে ১৯৭৫ সালে কেন অপহরণ করতে ...
2   Md Farid uddin  ভারতীয় হাইকমিশনারকে ১৯৭৫ সালে কেন অপহরণ করতে ...
0   Faruk Abdullah  উত্তর কোরিয়া অন্তত দুই ডজন ক্ষেপণাস্ত্র ছোঁড়...

                      retweeter_profile  ID
0   https://twitter.com/Jeanmar40708611   0
1     https://twitter.com/Doris79521423   0
2     https://twitter.com/Molly53159900   0
3      https://twitter.com/Neda12427130   0
4     https://twitter.com/Shari50482054   0
..                                  ...  ..
5          https://twitter.com/shamsery  20
0          https://twitter.com/shamsery  21
1       https://twitter.com/MrGumede153  21
2    https://twitter.com/fariduddin9457  21
0    https://twitter.com/ffarukabdullah  22

[283 rows x 4 columns]

In [208]:

# def collect_comments(tweet_url):  
#     driver.get(tweet_url)
#     sleep(3)



#     no_more_replies = False
#     while True:
#         driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
#         sleep(2)

#         try:
#             show_more_replies = driver.find_element("xpath","//*[@id='react-root']/div/div/div[2]/main/div/div/div/div[1]/div/section/div/div/div[30]/div/div/div")
#             show_more_replies.click()
#             sleep(2)
#         except:
#             no_more_replies = True

#         if no_more_replies == True:
#             break

#     c_profile_url_list = []
#     c_name_list = []
#     c_tweet_list = []
#     c_tweet_time_list = []


#     sleep(2)
#     driver.execute_script('window.scrollTo(0,document.body.scrollHeight-2000);')
#     sleep(2)

#     comments = driver.find_elements("xpath",".//article[@data-testid='tweet']")
#     # while True:
#     print("number of comments: ", len(comments))
#     sleep(2)
#     for comment in comments[1:]:

#         c_profile_url = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[1]/div/a").get_attribute('href')
#         c_profile_url_list.append(c_profile_url)


#         #C_name
#         c_name = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[1]").text
#         c_name_list.append(c_name)

#         #C_tweet
#         ## exception when no tweet but response is a picture. #retards #If no tweet, just ' '
#         try: 
#             c_tweet = comment.find_element(By.XPATH, ".//div[@data-testid='tweetText']").text
#             c_tweet_list.append(c_tweet)
#         except:
#             c_tweet_list.append(" ") 

#         c_tweet_time = comment.find_element("xpath", ".//div[@data-testid='User-Names']/div[2]/div/div[3]/a/time").get_attribute('datetime')
#         c_tweet_time_list.append(format_time(c_tweet_time))
    
#     return c_profile_url_list, c_name_list, c_tweet_list, c_tweet_time_list

In [146]:
#need to install
!pip install pymysql
!pip install mysql-connector-python

Requirement already satisfied: pymysql in c:\users\tazin\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: mysql-connector-python in c:\users\tazin\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\tazin\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [209]:
df_user 
# df_tweet 
# df_comment
# df_retweet

,user_tweet,user_tweet_time,user_tweet_url,user_tweet_visuals,Id
0,নিজেদের প্রথম ম্যাচে সৌদি আরবের কাছে হেরে গেল ...,"6:08 PM · Nov 22, 2022",https://twitter.com/bbcbangla/status/159502634...,,0
1,বেলিংহাম ইরানের বিপক্ষে ১১৩ বার বল পায়ে নিয়ে...,"5:06 PM · Nov 22, 2022",https://twitter.com/bbcbangla/status/159501073...,https://t.co/IoCodiKEDF,1
2,"মেসি জানেন, আর্জেন্টিনার হয়ে কাতারে এই বিশ্বক...","3:56 PM · Nov 22, 2022",https://twitter.com/bbcbangla/status/159499321...,https://t.co/ujpcoFxlDk,2
3,"'আমি যেহেতু কোরিয়াকে ভালোবাসি, সেজন্য আমি ভাল...","3:30 PM · Nov 22, 2022",https://twitter.com/bbcbangla/status/159498665...,,3
4,মোহাম্মদ শামিকে উদ্দেশ্য করে একজন লিখেছেন “আমর...,"12:45 PM · Nov 14, 2022",https://twitter.com/bbcbangla/status/159204606...,https://t.co/DQnylVPof2,4
5,বলা হচ্ছে এটা রোনালদোর ক্যারিয়ারের 'সবচেয়ে ব...,"9:14 AM · Nov 14, 2022",https://twitter.com/bbcbangla/status/159199303...,https://t.co/3apSIDx7cL,5
6,পরিবারের ৭২ জন সদস্যকে একই ছাদের নীচে বাস করছে...,"9:01 AM · Nov 14, 2022",https://twitter.com/bbcbangla/status/159198964...,,6
7,"আন্তর্জাতিক মুদ্রা তহবিল (আইএমএফ) বলেছে, যেভাব...","8:29 AM · Nov 14, 2022",https://twitter.com/bbcbangla/status/159198158...,https://t.co/dcS1bWGQGS,7
8,পাকিস্তানকে ৫ উইকেটে হারিয়ে টি-টোয়েন্টি বিশ্...,"5:44 PM · Nov 13, 2022",https://twitter.com/bbcbangla/status/159175890...,,8
9,টেক্সাসে এয়ারশো চলাকালে যে দুই বিমানের সংঘর্ষ...,"3:20 PM · Nov 13, 2022",https://twitter.com/bbcbangla/status/159172260...,,9
10,নিম্নকক্ষ প্রতিনিধি পরিষদে রিপাবলিকানরা সংখ্যা...,"12:26 PM · Nov 13, 2022",https://twitter.com/bbcbangla/status/159167890...,https://t.co/JLxW6bUGeO,10
11,ফরিদপুরের এই সমাবেশে ব্যাপক জনসমাগম হওয়ায় এই...,"12:07 PM · Nov 13, 2022",https://twitter.com/bbcbangla/status/159167397...,,11
12,বনাম - ফাইনালে বৃষ্টি ও আরো যতো আলোচনার বিষ...,"4:47 PM · Nov 12, 2022",https://twitter.com/bbcbangla/status/159138217...,https://t.co/IAeuRz0O36,12
13,দুদক থেকে বরখাস্ত শরীফ উদ্দিনের জীবন কেমন কাটছ...,"8:44 PM · Nov 10, 2022",https://twitter.com/bbcbangla/status/159071713...,,13
14,"সরকার পতন, সাজাপ্রাপ্ত নেতার নিঃশর্ত মুক্তির ম...","5:12 PM · Nov 10, 2022",https://twitter.com/bbcbangla/status/159066376...,,14
15,এইমাত্র পাওয়া: ভারতকে হারিয়ে ফাইনালে ইংল্যান...,"5:05 PM · Nov 10, 2022",https://twitter.com/bbcbangla/status/159066202...,,15
16,"থাকতেন ইংল্যান্ডের ম্যানচেস্টারের, সেখান থেকে ...","11:45 AM · Nov 4, 2022",https://twitter.com/bbcbangla/status/158840697...,,16
17,'এটা ছিল ইমরান খানকে হত্যা করার একটা প্রচেষ্টা...,"11:41 PM · Nov 3, 2022",https://twitter.com/bbcbangla/status/158822495...,,17
18,জেল হত্যা দিবস উপলক্ষে আয়োজিত এক আলোচনা সভায়...,"8:30 PM · Nov 3, 2022",https://twitter.com/bbcbangla/status/158817667...,,18
19,ঢাকার কারাগারে আওয়ামী লীগের চারজন শীর্ষ নেতাক...,"7:57 PM · Nov 3, 2022",https://twitter.com/bbcbangla/status/158816836...,https://t.co/43Zniugntw,19
20,পাকিস্তানের সাবেক প্রধানমন্ত্রী ইমরান খানের ওপ...,"6:35 PM · Nov 3, 2022",https://twitter.com/bbcbangla/status/158814798...,https://t.co/Ncb4Ngl2HI,20
21,ভারতীয় হাইকমিশনারকে ১৯৭৫ সালে কেন অপহরণ করতে ...,"1:26 PM · Nov 3, 2022",https://twitter.com/bbcbangla/status/158807014...,https://t.co/7UdVDoNYYB,21
22,উত্তর কোরিয়া অন্তত দুই ডজন ক্ষেপণাস্ত্র ছোঁড়...,"11:41 AM · Nov 3, 2022",https://twitter.com/bbcbangla/status/158804371...,https://t.co/4oo8hJMV6a,22

In [210]:
#create table and insert documents 

import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(host='localhost', user='root',database='twitter_data_db', 
                        password='1234dota')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
   
               
        cursor.execute("CREATE TABLE tweet(tweet_link varchar(255),number_of_comments varchar(255),number_of_retweets varchar(255),number_of_likes varchar(255), Id int)")
        print("Table is created....")
        conn.commit()
        
        
        sleep(2) 
        
        for i, row in df_tweet.iterrows():
            sql ='INSERT INTO twitter_data_db.tweet VALUES (%s,%s,%s,%s,%s)'
            cursor.execute(sql,tuple(row))
            print("record inserted")
            conn.commit()

            
            

except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('twitter_data_db',)
Table is created....
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted

In [211]:


import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(host='localhost', user='root',database='twitter_data_db', 
                        password='1234dota')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
   

        
        cursor.execute("CREATE TABLE user_data(user_tweet varchar(255),user_tweet_time varchar(255),user_tweet_url varchar(255),user_tweet_visuals varchar(255), Id int)")
        print("Table is created....")
        conn.commit()
        
        for i, row in df_user.iterrows():
            sql ='INSERT INTO twitter_data_db.user_data VALUES (%s,%s,%s,%s, %s)'
            cursor.execute(sql,tuple(row))
            print("record inserted")
            conn.commit()
            
      


            

except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('twitter_data_db',)
Table is created....
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
Error while connecting to MySQL 1406 (22001): Data too long for column 'user_tweet' at row 1

In [212]:


import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(host='localhost', user='root',database='twitter_data_db', 
                        password='1234dota')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
   

      
    
        cursor.execute("CREATE TABLE comment_data(name varchar(255),profile_url varchar(255),tweet varchar(255),tweet_time varchar(255), Id int)")
        print("Table is created....")
        conn.commit() 
        
        for i, row in df_comment.iterrows():
            sql ='INSERT INTO twitter_data_db.comment_data VALUES (%s,%s,%s,%s,%s)'
            cursor.execute(sql,tuple(row))
            print("record inserted")   
            conn.commit()
            
        

 


            

except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('twitter_data_db',)
Table is created....
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
Error while connecting to MySQL 1406 (22001): Data too long for column 'tweet' at row 1

In [213]:


import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(host='localhost', user='root',database='twitter_data_db', 
                        password='1234dota')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
   

        

 
     
        cursor.execute("CREATE TABLE retweet_data(name varchar(255), retweet_text varchar(255), profile_url varchar(255), Id int)")
        print("Table is created....")
        conn.commit() 
            
        for i, row in df_retweet.iterrows():
            sql ='INSERT INTO twitter_data_db.retweet_data VALUES (%s,%s,%s,%s)'
            cursor.execute(sql,tuple(row))
            print("record inserted")
            conn.commit()



            

except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('twitter_data_db',)
Table is created....
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
Error while connecting to MySQL 1406 (22001): Data too long for column 'retweet_text' at row 1